{% extends 'base.html.twig' %}

{% block title %}Přidat nový přístroj{% endblock %}

{% block body %}
    <h2 class="page-header">Přidat přístroj</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}