{% extends 'base.html.twig' %}

{% block title %}Přihlášení{% endblock %}

{% block body %}
        <form class="form-signin" action="{{ path('login') }}" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Přihlášení</h1>

        <input type="text"
               id="_username"
               name="_username"
               class="form-control"
               placeholder="Přihlašovací jméno"
               required
               value="{{ last_username }}"
               autofocus>
        <br>
        <input type="password"
               id="_password"
               name="_password"
               class="form-control"
               placeholder="Heslo"
               required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit</button>
    </form>

{% endblock %}