{% extends 'base.html.twig' %}

{% block title %}Registrace nového uživatele{% endblock %}

{% block body %}
    <h2 class="page-header">Registrace</h2>
    {{ form(registration_form) }}
{% endblock %}